body {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  margin: 0;
  /* Hapus margin default */
  padding: 0;
  /* Hapus padding default */
  box-sizing: border-box;
}

.upload-description h2 {
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}

.upload-description p {
  font-weight: 400;
  font-size: medium;
  text-align: center;
}

.form-container {
  text-align: center;
  /* Pusatkan isi form */
}


h2 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

p {
  font-size: medium;
  text-align: center;
  margin: 7px 0;
}

.form-container {
  text-align: center;
  /* Pusatkan isi form */
}

.upload-container {
  margin-top: 60px; /* Jarak antara konten dengan navbar */
  margin-left: 200px; /* Jarak antara konten dengan sidebar */
  padding: 20px; /* Sesuaikan padding sesuai kebutuhan */
}

.form-bok {
  width: 400px;
  height: 250px;
  border: 2px dashed #CBD0DC;
  background-color: rgba(186, 194, 232, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonfile {
  width: 10vw;
  padding: 5px 5px;
  font-size: 15px;
  margin: 5px 5px;
  font-weight: 600;
  border: 2px solid #CBD0DC;
  outline: none;
  background: #ffff;
  color: black;

}

.criteria {
  color: red;
  font-weight: 550;
  font-size: 14px;

}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
}

.file-uploader-form {
  display: flex;
  align-items: center;
  padding-top: 10px;
  /* Sesuaikan padding dengan kebutuhan Anda */
}

.file-uploader-form input[type="text"] {
  width: 400px;
  height: 25px;
  border: 1px solid #CBD0DC;
  margin: 5px 0;
  padding: 10px 0px 15px 15px;
  outline: none;
  box-sizing: border-box;
  transition: .3s;
  border-radius: 10px;
}

.file-uploader-form input[type="text"]:focus {
  border-color: #9639cf;
  box-shadow: 0 0 4px 0 #9639cf;
}




.file-uploader-form button[type="submit"] {
  width: 80px;
  /* Sesuaikan lebar tombol dengan kebutuhan Anda */
  height: 30px;
  /* Sesuaikan tinggi tombol dengan kebutuhan Anda */
  text-align: center;
}

button {
  padding: 2px 80px 5px 60px;
  width: 400px;
  height: 40px;
  background: #b7b2e6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

h3{
  font-size: 20px;
  font-weight: 500;
}

