.navbar {
  width: calc(100% - 200px); /* Lebar navbar dihitung minus lebar sidebar */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7edf9;
  position: fixed;
  top: 0;
  left: 200px; /* Lebar sidebar */
  z-index: 1000; /* Pastikan navbar berada di atas konten lain */
}
  
  .navbar .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }